*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*********Regole di Reset**********/



/*********Regole di debug**********/

.debug .container{
    border: 3px dotted rgb(15, 183, 93);
 
}

.debug .inside-bar{
    border: 3px dotted white;
}

.debug .box-img{
    background-color: black;
}
.debug .img{
 border: 2px dotted white;
}

.debug .menu-top{
    border: 2px solid black;
}

.debug footer{
    background-color: rgb(123, 14, 14);
}
.debug #principale{
    background-color: rgba(255, 0, 72, 0.36);
}

 .debug .upgrade{  
background-color: black;
 }

.debug .menu-bottom{
    background-color: aqua;
}


.debug .right{
    background-color: rgb(15, 162, 35);
  }
  .debug .center{
     background-color: rgb(15, 94, 162);
      
  }
    
    .debug .left{
     background-color: aliceblue; 
  }


 /********* fine Regole di debug**********/

/********* Inizio Regole di colori**********/

:root{
    --main-color:rgb(20, 25, 34);
    --inside-bar:rgb(0, 0, 0);
    --nav-color:rgb(120, 123, 128);
    --text1-color:rgb(129, 131, 136);
    --text2-color:#FBFAFE;
    --playr-color:rgb(40, 40, 40);
    --footer-color:rgb(31, 31, 31);
    --header-color:rgb(8, 11, 18);  
}
/********* fine Regole di colori**********/


/********* inizio Regole di nav**********/


.btn{
  background-color: aliceblue;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  margin-top: 1.5rem;
  display: inline-block;
   
}
.upgrade{
    text-align: end;
    
    height: 100px;
}

#destra nav ul{
    padding:1rem 5rem ;
    list-style: none;
     width: 80%;
     margin:auto;
    

}

a{
    text-decoration: none;
    color: var(--text1-color);
}

#destra .container p,h3{
    color: var(--text2-color);
    
}

#destra .container span{
    color: var(--text1-color);
   

}



/********* fine Regole di nav**********/



/*********Regole comuni **********/

.text-align{
    text-align: center;
}

.dflex{
 display: flex;
 

}
.fw{    
  flex-wrap: wrap; 
}


.space{
 justify-content: space-between;

}

.mt-30{
   margin-top: 2rem; 
}








/*********fine Regole comuni **********/






/*********Regole di **********/
.img{
    width: calc(100% / 6 - 1rem);
   margin-left: 1rem;
}




/*********Regole di **********/


#principale{
    height:calc(100vh - 200px);
    
    display: flex;
}

.aside-bar{
    width:200px;
    height:100%;
}
#destra{
    width: 100%;
    overflow-y: scroll;
}

#destra .img img {
    width: 100%;
}

.radius{
    border-radius: 50%;
    overflow: hidden;
}

/*********Regole di colori **********/

.menu-bottom{
  height: 100px;
  width:100%;
  
}

.menu-top{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.logo{
  /*  width: 100px;
    border: 3px border rgb(59, 16, 177);*/
    padding: 0.5rem 2rem;



}

#navigazione_principale li img {
    width: 20px;

}

.nome-play {
    flex-grow: 1;
    overflow: auto;
}

.box{
   width: 95%;
   margin: auto;
   background-color: rgb(22, 20, 162);
}

.whi{
    width: 23px;
}

.menu-top .box ul li{
   
}


/*********Regole di **********/


/*********Regole di **********/
/*********Regole di **********/





/*********Regole di **********/
/*********Regole di **********/








/*********Regole di **********/
/*********Regole di **********/












/*********Regole difooter **********/

footer{
    height: 200px;
}


.album{
    width: 50px;
    height: 50px;
    border: 2px dotted black;
}
.playr .album img{
    width:100%;
    
}


.playr{
    width: calc(99%);
    margin: auto;
    padding-top: 1rem;
    border: 2px dotted ;
}

.left{
   width:25% ;
}





.center{
   
   width: 25%;
   justify-content: space-between; 
}

.barra-playr{
    border: 2px dotted ;
    width: 20px;
 
}


.b-pl{

}





.right{
    height: 50px;
    width:25% ;
    justify-content: end;

}



  

/*********fine Regole di footer **********/
